matplotlib==3.1.0
pandas==0.24.2
dash_table==4.2.0
nltk==3.4.5
gensim==3.8.0
plotly==4.1.1
dash_core_components==1.1.2
pybase64==1.0.0
dash_html_components==1.0.1
joblib==0.13.2
numpy==1.16.4
wordcloud==1.5.0
dash==1.2.0
Flask==1.1.1
spacy==2.1.8
requests==2.21.0
setuptools==41.4.0
Pillow==8.3.2
PyPDF2==1.26.0
langdetect==1.0.7
reportlab==3.5.32
scikit_learn==0.21.3
stop_words==2018.7.23
svglib==0.9.4
svgutils==0.3.1
